
#logo{
    display:block;
    width:30%;
    margin:auto auto;  
}

#dots{
    width:40px;
    margin-top:2px;
}
header{
    top:0;
    right: 0;
    display:flex;
    width: 100%;
    justify-content: flex-end;
}
.headers{
    margin:0 10px;
    margin-top: 0;
    display: inline;
    font-size:12px;
}
#Login{
    color: white;
    background-color: rgb(26,115,232);
    width:100px;
    height: 37px;
    border-radius: 5px;
    margin-top:4px;
}
#post, #pic{
    margin-top:15px;
}